* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.card-container {
    display: flex;
    justify-content: center;
}

.image-container {
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
}

.text-container {
    height: 300px;
    width: 300px;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
  }
/* The code for placing .attribution at the bottom of the page,(technically at the bottom of its parent). */