* {
    margin: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}

.card-container {
    display: flex;
    justify-content: center;
    /* border: solid black 10px; */
    border-radius: 7.5px;
    overflow: hidden;
}

.image-container {
    background-image: url(/images/image-product-desktop.jpg);
    background-size: cover;
    height: 400px;
    width: 300px;
}

.text-container {
    height: 400px;
    width: 300px;
    background-color: white;
}

.attribution {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 11px;
    color: hsl(228, 45%, 44%);
  }
/* The code for placing .attribution at the bottom of the page,(technically at the bottom of its parent). */